/* ****************************************
*    Main wrapper and helper classes
* ****************************************/

#growatt-wrapper {
  --width: 100%;
  --max-width: 600px;
  height: 500px;
  --line-width: 8px;
  --active-color: #0cf747;
  --default-color: var(--color-text);
  --line-margin: calc(var(--line-width) * 10);
  --line-border-radius: calc(var(--line-width) / 5);
  --arrow-size: calc(var(--line-width) * 1.5);
/*  --vertical-line-length: 100px;
  --horizontal-line-length: 100px; */
  --vertical-line-length: clamp(80px, 15vh, 100px);
  --horizontal-line-length: clamp(80px, 15vw, 150px);
  --images-size: calc(var(--line-margin) * 0.5);

  width: var(--width);
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.module-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


#growatt-table-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.active {
  color: #0cf747;
  background-color: #08f310;
}

.active-amber {
  color: orange;
  background-color: orange;
}

.active-red {
  color: red;
  background-color: red;
}

.gridactive {
  color: red;
  background-color: red;
}

.font-green {
  color: #0cf747;
}

.font-red {
  color: #e09690;
}

.font-amber {
  color: orange !important;
}

/* ****************************************
  *    Icons
  * ****************************************/

.images {
  position: absolute;
  display: block;
  height: clamp(50px, 8vw, 80px);
  width: clamp(50px, 8vw, 90px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}



.images.state_grid {
  background-image: url(images/state_grid.png);
}
.images.state_bat_null {
  background-image: url(images/state_bat_null.png);
}
.images.state_load {
  background-image: url(images/state_loadS.png);
}
.images.state_solor {
  background-image: url(images/state_solor.png);
}
.images.state_spf5000 {
  background-image: url(images/state_spf5000.png);
}

.images.horizontal {
  top: 50%;
  transform: translateY(-50%);
}

.images.vertical {
  left: 50%;
  transform: translateX(-50%);
}

.images.inv {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.images.top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.images.bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.images.left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.images.right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


/* ****************************************
  *    Labels
  * ****************************************/

.label {
  position: absolute;
  color: var(--default-color);
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: var(--font-size-small);
  /* border: 2px solid; */
  /* border-color: var(--default-color); */
  /* border-radius: 3px; */
  padding: 3px;
  text-align: center;
  white-space: nowrap;
  width: 10ch;
  position: absolute;
}

#home-label {
  left: 120px;
  top: 40px;
}

#solar-label {
  left: 50px;
  bottom: 120px;
}

#battery-label {
  left: 50px;
  bottom: -90px;
}

#grid-label {
  right: 100px;
  bottom: -75px;
}

#static-label {
  right: 200px;
  bottom: -90px;
  font-size: small;
}

#info-label {
  right: 200px;
  bottom: 50px;
  font-size: medium;
}

/* ****************************************
  *    Lines
  * ****************************************/

.line {
  background-color: var(--default-color);
  height: 8px;
  width: 200px;
  border-radius: 4px;
}

.line.active {
  background: linear-gradient(
      to right,
      transparent 0%,
      var(--active-color) 50%,
      transparent 100%
    ),
    var(--default-color);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  animation: lineFlowRight 2s linear infinite;
}

.line.gridline-active-imp {
  background: linear-gradient(
      to right,
      transparent 0%,
      red 50%,
      transparent 100%
    ),
    var(--default-color);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  animation: lineFlowRight 2s linear infinite;
}

.line.gridline-active-exp {
  background: linear-gradient(
      to left,
      transparent 0%,
      blue 50%,
      transparent 100%
    ),
    var(--default-color);
  background-size: 100% 200%;
  background-repeat: no-repeat;
  animation: lineFlowLeft 2s linear infinite;
}

.line.active-down {
  background: linear-gradient(
      to bottom,
      transparent 0%,
      #0cf747 50%,
      transparent 100%
    ),
    var(--default-color);
  background-size: 100% 200%;
  background-repeat: no-repeat;
  animation: lineFlowDown 2s linear infinite;
}

.line.active-amber {
  background: linear-gradient(
      to top,
      transparent 0%,
      orange 50%,
      transparent 100%
    ),
    var(--default-color);
  background-size: 100% 200%;
  background-repeat: no-repeat;
  animation: lineFlowUp 2s linear infinite;
}

.line.active-red {
  background: linear-gradient(to top, transparent 0%, red 50%, transparent 100%),
    var(--default-color);
  background-size: 100% 200%;
  background-repeat: no-repeat;
  animation: lineFlowUp 2s linear infinite;
}

.line.vertical.top {
  top: 85px;
}

.line.vertical {
  position: absolute;
  width: var(--line-width);
  height: var(--vertical-line-length);
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--line-border-radius);
}

.line.vertical.up {
  top: 15%; /* or adjust as needed */
}

.line.vertical.down {
  bottom: 20%; /* or adjust as needed */
}


.line.horizontal {
  position: absolute;
  width: var(--horizontal-line-length);
  height: var(--line-width);
  top: 50%;
  transform: translateY(-50%);
  border-radius: var(--line-border-radius);
}

.line.horizontal.left {
  left: 15%; /* or adjust as needed */
}

.line.horizontal.right {
  right: 17%; /* or adjust as needed */
}


/* ****************************************
  *    Arrows
  * ****************************************/

.arrow {
  position: absolute;
  width: var(--arrow-size);
  height: var(--arrow-size);
  background-color: transparent;
  content: url("icons/caret-down.svg");
}


.arrow.active {
  filter: invert(94%) sepia(68%) saturate(714%) hue-rotate(323deg)
    brightness(102%) contrast(101%);
  -webkit-filter: invert(94%) sepia(68%) saturate(714%) hue-rotate(323deg)
    brightness(102%) contrast(101%);
}

.arrow.active-amber {
  filter: invert(94%) sepia(68%) saturate(714%) hue-rotate(323deg)
    brightness(102%) contrast(101%);
}

.arrow.active-red {
  filter: invert(94%) sepia(68%) saturate(714%) hue-rotate(323deg)
    brightness(102%) contrast(101%);
}

.arrow.up {
  top: 0%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

.arrow.down {
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
}

.arrow.left {
  top: 50%;
  left: 0%;
  transform: translateY(-50%) rotate(90deg);
}

.arrow.right {
  top: 50%;
  right: 0%;
  transform: translateY(-50%) rotate(-90deg);
}


.growatt-table {
  width: 90%;
  border-collapse: collapse;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
}

.growatt-table td {
  padding: 10px;
  border: 1px solid white;
}

.growatt-table {
  font-weight: bold;
  font-size: 1.2rem;
}

.footer {
  font-style: italic;
  font-size: 0.9rem;
}

/* ****************************************
*    Keyframes
* ****************************************/

@keyframes pulseFlow {
  0% {
    transform: translateY(-4px);
    opacity: 0.2;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(4px);
    opacity: 0.2;
  }
}

@keyframes lineFlow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes lineFlowRight {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

@keyframes lineFlowLeft {
  from {
    background-position: -200% 0;
  }
  to {
    background-position: 200% 0;
  }
}

@keyframes lineFlowUp {
  from {
    background-position: 0 -200%;
  }
  to {
    background-position: 0 200%;
  }
}

@keyframes lineFlowDown {
  from {
    background-position: 0 200%;
  }
  to {
    background-position: 0 -200%;
  }
}
